#admin-dashboard {
    padding: 8rem 4rem;
    border: 1px solid red;

    h2 {
        color: #ffffff;
        text-align: center;
    }

    .dashboard-container {
        border: 1px solid green;
        background-color: #00000045;

        .dashboard-header {

            ul {
                display: flex;
                list-style: none;
                justify-content: flex-end;

                li {
                    color: #ffffff;
                    padding: 1rem 2rem;

                    &.active {
                        border-top: 1px solid #ffffff;
                        border-left: 1px solid #ffffff;
                        border-right: 1px solid #ffffff;
                    }
                }
            }
        }
    }
}