@import "variables.scss";

#admin-dashboard {
    padding: 8rem 4rem;
    // border: 1px solid red;
    min-height: 100vh;
    height: fit-content;
    // width: auto;
    // margin-left: auto;
    padding: $page_vertical_padding $page_horizontal_padding;

    h2 {
        color: #ffffff;
        text-align: center;
    }

    .dashboard-container {
        border: 1px solid green;
        background-color: #00000045;

        .dashboard-header {

            ul {
                display: flex;
                list-style: none;
                justify-content: flex-end;

                li {
                    color: #ffffff;
                    padding: 1rem 2rem;
                    border-top: 1px solid #ffffff00;
                    border-left: 1px solid #ffffff00;
                    border-right: 1px solid #ffffff00;
                    border-bottom: 1px solid #ffffff;
                    transform: translateY(1px);


                    &.active {
                        border-top: 1px solid #ffffff;
                        border-left: 1px solid #ffffff;
                        border-right: 1px solid #ffffff;
                        border-bottom: 1px solid #444444;

                    }
                }
            }
        }

        .dashboard-content {
            border: 1px solid #ffffff
        }
    }
}