@import "./variables.scss";

@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.ttf') format('truetype');
    font-weight: 700;
    font-style: regular;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
  

#app {
    width: 100%;
    min-height: 100vh;
    position: relative;
    cursor: url('/src/cursor/DiscoBallPointer.ani'), auto;
}

h2 {
    position: absolute;
    top: -30px;
    left: -20px;
    color: black;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 2px 2px 0px #ffffff;

    @media screen and (max-width: 760px) {
        font-size: 25px;
    }
  }
