@import "./variables.scss";

@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: regular;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

#app {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

h2 {
  position: absolute;
  top: -30px;
  left: -20px;
  // color: black;
  color: #ffffff;
  font-size: 50px;
  font-weight: 900;
  text-shadow: 2px 2px 0px grey;

  @media screen and (max-width: 760px) {
    font-size: 25px;

    left: 0;
    top: -15px;
  }
}

.shadow {
  position: relative;
//   transform: rotateY(-20deg);
//     transform-style: preserve-3d;
//     perspective: 1000px;

  &:before {
    content: "";
    // width: 100%;
    // height: 100%;
    // display: block;
    position: absolute;
    top: -20px;
    bottom: -20px;
    right: -20px;
    left: -20px;
    background-color: #ffffff55;
    backdrop-filter: invert(80%);
    z-index: -1;
  }
}
