#audio-player {
  // background-color: red;
  z-index: 10000;
  width: 35%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;

  .player-toggle {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateX(-100%);
    margin: -10px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
  }

  audio {
    background-color: green;
    border-radius: 0;
  }

  .duration-display {
    display: flex;
    align-items: center;

    .time-bar {
      border: 1px solid black;
      margin-left: 10px;
      flex-grow: 1;
      height: 8px;
      border-radius: 4px;
      cursor: pointer;

      .time-bar-inner {
        background-color: black;
        height: 100%;
        position: relative;
      }
    }
  }

  .controls {
    margin: 10px 0;
    // display: flex;
    // justify-content: space-evenly;
    // align-items: center;
    // position: relative;

    > div:first-of-type {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      > div {
        border-radius: 50%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
        }
      }

      > div:nth-child(2) {
        width: 50px;
        height: 50px;
      }

      > div:nth-child(1),
      > div:nth-child(3) {
        width: 40px;
        height: 40px;
      }
    }

    > div:nth-of-type(2) {
      margin-top: 20px;

      .volume-control {
        width: 20%;
        display: flex;
        align-items: center;
        margin-left: auto;

        > .volume-toggle {
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        > .volume-bar {
          border: 1px solid black;
          margin-left: 10px;
          flex-grow: 1;
          height: 8px;
          border-radius: 4px;
          cursor: pointer;

          .volume-bar-inner {
            background-color: black;
            height: 100%;
            position: relative;
          }
        }
      }
    }
  }

  .songlist {
    overflow: hidden;
    background-color: aliceblue;

    > li {
      color: black;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      &.current {
        font-weight: 900;
      }
    }
  }
}
