@import "./variables.scss";


#background-stripes {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: -100;
  perspective: 2000px;

  .stripes-container-l {
    width: 40%;
    position: absolute;
    display: flex;
    transform-style: preserve-3d;

    &.stripes-y {
      height: $room-depth;
      transform-origin: top;
      transform: rotateX(-90deg);

      @for $i from 1 through $color-count {
        $color: nth($colors, $i);

        .stripe:nth-of-type(8n + #{$i}) {
          background: linear-gradient(
            180deg,
            $color 0%,
            $color 80%,
            black 110%
          );
        }
      }
    }

    &.stripes-z {
      height: 200vh;
      transform: translateZ(-$room-depth);

      @for $i from 1 through $color-count {
        $color: nth($colors, $i);

        .stripe:nth-of-type(8n + #{$i}) {
          background: linear-gradient(0deg, $color 0%, $color 90%, black 110%);
        }
      }
    }
  }

  .stripes-container-r {
    width: 40%;
    position: absolute;
    right: 0;
    display: flex;
    transform-style: preserve-3d;

    &.stripes-y {
      height: $room-depth;
      transform-origin: top;
      transform: rotateX(-90deg) translateZ(100vh);

      @for $i from 1 through $color-count {
        $color: nth($colors, $i);

        .stripe:nth-of-type(8n + #{($color-count - $i + 1)}) {
          background: linear-gradient(
            180deg,
            $color 0%,
            $color 80%,
            black 110%
          );
        }
      }
    }

    &.stripes-z {
      height: 200vh;
      transform: translateZ(-$room-depth) translateY(-100vh);

      @for $i from 1 through $color-count {
        $color: nth($colors, $i);

        .stripe:nth-of-type(8n + #{($color-count - $i + 1)}) {
          background: linear-gradient(
            180deg,
            $color 0%,
            $color 90%,
            black 110%
          );
        }
      }
    }
  }

  .stripe {
    height: 100%;
    width: calc(1 / $color-count * 100%);
    margin: 0 0.6%;
    z-index: -10;
  }
}
