#background {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: -1;
  // perspective: 2000px;

  .floor-grid {
    display: grid;
    grid: repeat(5, 100px) / repeat(5, 100px);
    gap: 10px;
    // transform-style: preserve-3d;
    // transform: rotateX(90deg) translateZ(-200px);
    // transform-origin: bottom;

    .floor-tile {
      width: 100px;
      height: 100px;
      border-radius: 5px;
      opacity: 0.5;
      animation: light-fade 0.5s ease-in-out alternate infinite;

      // &:hover {
      //     border: 2px solid white;
      // }
    }

    // .floor-tile:nth-of-type(7n-6) {
    //     background-color: #C74392; /* Dunkleres Neon Pink */
    // }

    // .floor-tile:nth-of-type(7n-5) {
    //     background-color: #009B9B; /* Dunkleres Neon Cyan */
    // }

    // .floor-tile:nth-of-type(7n-4) {
    //     background-color: #2DB308; /* Dunkleres Neon Green */
    // }

    // .floor-tile:nth-of-type(7n-3) {
    //     background-color: #B00000; /* Dunkleres Rot */
    // }

    // .floor-tile:nth-of-type(7n-2) {
    //     background-color: #B3B300; /* Dunkleres Neon Yellow */
    // }

    // .floor-tile:nth-of-type(7n-1) {
    //     background-color: #B34712; /* Dunkleres Neon Orange */
    // }

    // .floor-tile:nth-of-type(7n) {
    //     background-color: #620089; /* Dunkleres Neon Purple */
    // }

    .floor-tile:nth-of-type(6n-5) {
      animation-delay: 0.2s;
    }

    .floor-tile:nth-of-type(6n-4) {
      animation-delay: 0.4s;
    }

    .floor-tile:nth-of-type(6n-3) {
      animation-delay: 0.6s;
    }

    .floor-tile:nth-of-type(6n-2) {
      animation-delay: 0.8s;
    }

    .floor-tile:nth-of-type(6n-1) {
      animation-delay: 1s;
    }

    .floor-tile:nth-of-type(6n) {
      animation-delay: 1.2s;
    }

    .floor-tile:nth-of-type(7n-6) {
      background-color: #ff6ec7;
    }

    .floor-tile:nth-of-type(7n-5) {
      background-color: #00ffff;
    }

    .floor-tile:nth-of-type(7n-4) {
      background-color: #39ff14;
    }

    .floor-tile:nth-of-type(7n-3) {
      background-color: #f51010;
    }

    .floor-tile:nth-of-type(7n-2) {
      background-color: #ffff33;
    }

    .floor-tile:nth-of-type(7n-1) {
      background-color: #ff5f1f;
    }

    .floor-tile:nth-of-type(7n) {
      background-color: #9400d3;
    }
  }

  .bg-overlay {
    position: absolute;
    top: -100%;
    left: -120%;
    width: 200vw;
    height: 200vh;
    // background-color: red;
    background: rgb(0, 0, 0);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 1) 50%
    );
  }
}

@keyframes light-fade {
  0% {
    opacity: 0.5;
    box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0);
  }
  100% {
    opacity: 1;
    box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.75);
  }
}
