@import "./variables.scss";


#contact {
  margin: auto;
  // padding: 8rem 4rem;
  position: relative;
  

    #contact-form {
      // padding: 2rem 8rem;

      color: white;
      background-color: #00000045;
      
      form {

        > div:first-of-type {
          display: flex;
        } 

        .contact-field {
          margin-bottom: 10px;
          
          label {
            display: block;
          }

          input, textarea {
            width: 100%
          }

        }

        div:has(iframe) {
          width: fit-content;
          margin: auto
        }

        button {
          margin: 0 auto; 
          padding: 10px;
          width: 100%;
          border-radius: $border_radius_sm;
        }
      }
    }
  
}