#gallery {

  padding: 8rem 4rem;
  width: 100vw;

  // #top-video-wrapper {
  //   width: 50vw;
  //   margin-left: auto;
  //   margin-bottom: 4rem;
  //   overflow: hidden;
  //   background-color: #00000045;

  //   #video-player {
  //     width: 100%;
  //   }
  // }



  .gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -1rem;


    .gallery-image-wrapper {
      width: 20%;
      margin: 1rem;
      background-color: #00000045;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: zoom-in;

      >img {
        width: 100%
      }

      .image-text {
        margin: 1rem;
        color: white;
        font-family: 'Roboto';
        text-align: center;
      }
    }
  }
}