@import "./variables.scss";


#information {
  margin-top: 150px;
  padding: 50px 0 20px 0;
  color: white;
  background-color: #00000045;
  position: relative;
  
  .info-container {
    display: flex;
    justify-content: space-around;
    position: relative;

    #contact-form {
      
      form {

        .contact-field {
          margin-bottom: 10px;
          
          label {
            display: block;
          }

          input, textarea {
            width: 100%
          }

        }

        button {
          margin: 0 auto; 
          padding: 10px;
          width: 100%;
          border-radius: $border_radius_sm;
        }
      }
    }

    .separator {
      background-color: #ffffff;
      height: 90%;
      width: 1px;
      position: absolute;
    }
  
    #documents {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      
      > a {
        position: relative;

        > div {
          border: 3px solid white;
          width: 70px;
          height: 70px !important;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #000000;
          position: absolute;
          top: 50%;
          transform: translate3d(-100%,-50%,0);


          > img {
            width: 50px !important;
            transform: scaleY(-1) rotate(70deg) ;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 760px) {
  #information {
  
    h2 {
    }
  
    .info-container {
      flex-direction: column;
  
      #contact-form {
        
        form {
  
          .contact-field {
            
            label {
            }
  
            input, textarea {
            }
  
          }
  
          button {
          }
        }
      }
  
      .separator {
      }
    
      #documents {
        
        > a {
  
          > div {
  
  
            > img {
            }
          }
        }
      }
    }
  }
  
}
