@import "variables.scss";


#layout {
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #upper-content {
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;
        padding: $page_vertical_padding $page_horizontal_padding 0;
    }
}