#loading-screen {
    width: 400px;
    height: 200px;
    border: 1px white solid;
    color: white;
    top: 50vh;
    position: absolute;
    // top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 30px;
        animation: blink 1.5s ease-in-out 0s infinite forwards;
    }

}

@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
}