#modal {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1100;
  backdrop-filter: blur(5px);
  display: none;
  justify-content: center;
  align-items: center;

  &.show {
    display: flex;
  }

  .modal-container {
    min-width: 400px;
    min-height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;

    .modal-header  {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;

      .modal-toggle {
        border: 1px solid black;
        border-radius: 3px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    .modal-content {


      #songlist {
        max-height: 70vh;
        overflow-y: auto;

        table {
          width: 100%;
          border-collapse: collapse;
        }
        
        thead tr {
          position: sticky;
          top: -1px;
          background-color: #f1f1f1;
          z-index: 1;

          > th {
            position: relative;

            > svg {
              position: absolute;
              right: 0;
            }
          }
        }
        
        th, td {
          padding: 8px;
          text-align: left;
          
        }
      }
    }
  }
}