#modal {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1100;
  backdrop-filter: blur(5px);
  display: none;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);

  &.show {
    display: flex;
  }

  .modal-container {
    min-width: 40vw;
    max-width: 90vw;
    height: 90vh;
    background-color: white;
    display: flex;
    flex-direction: column;

    .modal-header  {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;

      .modal-toggle {
        border: 1px solid black;
        border-radius: 3px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    .modal-content {
      overflow-y: auto;

      #songlist {
        max-height: 70vh;
        overflow-y: auto;

        table {
          width: 100%;
          border-collapse: collapse;
        }
        
        thead tr {
          position: sticky;
          top: -1px;
          background-color: #f1f1f1;
          z-index: 1;

          > th {
            position: relative;

            > svg {
              position: absolute;
              right: 0;
            }
          }
        }
        
        th, td {
          padding: 8px;
          text-align: left;
          
        }
      }

      #image-select {
        display: flex;
        flex-wrap: wrap;

        > .image-wrapper {
          margin: 5px 10px;

          &:hover {
            cursor: pointer;

            img {
              filter: grayscale(05);
            }
          }

          img {
            height: 200px;
          }
        }
      }
    }
  }
}