@import "variables.scss";

#navigation-desktop {
  // padding: 3rem;
  // position: absolute;
  left: 0;
  top: 50px;
  display: none;
  z-index: 100;

  nav {
    ul {
      perspective: 500px;

      .navLink {
        list-style: none;
        transform-style: preserve-3d;
        transform-origin: left;
        transform: rotateY(40deg);
        transition: all 0.3s;

        &:hover, &.activeNav {
          transform: rotateY(10deg);

          > a > p:after {
            content:'';
            width: 100%;
          }
        }

        a {
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
          text-decoration: none;
          font-size: 80px;
          font-weight: 900;
          // color: black;
          // text-shadow: 2px 2px 0px #ffffff;
          color: #ffffff;
          text-shadow: 2px 2px 0px grey;

          > p {
            position: relative;
            
            &:after {
              content:'';
              width: 0;
              position: absolute;
              left: 0;
              bottom: 0;
              height: 3px;
              background-color: $red_1;
              transition: all 0.3s ease-in-out;
              z-index: 10000;
            }

            
          }
        }
      }
    }
  }
}

@media (min-width: 769px) {
  #navigation-desktop {
    display: flex;
  }
}

#navigation-mobile {
  display: none;

  #burger-menu {
    width: 60px;
    padding: 1rem;

    .burger-layer {
      height: 4px;
      margin: 2px 0;
      border-radius: 2px;
      background-color: black;
      border: 1px solid white;
      transform-origin: calc(0% + 4px);
      transition: all 0.3s;
    }

    &.active .burger-layer {
      &:nth-of-type(1) {
        transform: rotateZ(45deg) translateY(-3px);
      }

      &:nth-of-type(2) {
        width: 0;
        height: 0;
        opacity: 0;
      }

      &:nth-of-type(3) {
        transform: rotateZ(-45deg) translateY(3px);
      }
    }
  }

  nav {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: all 0.3s;
    height: 0;
    overflow: hidden;
    background-color: #00000045;

    &.expanded {
      height: 150px;
    }

    > ul {
      .navLink {
        font-family: "Roboto";
        margin-top: 10px;
        font-size: 20px;

        &.activeNav a {
          text-decoration: underline;
        }

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  #navigation-mobile {
    display: block;
  }
}