$colors: #022f4e, #044a67, #2e7380, #469291, #cba27c, #ca7810, #a0100e, #760712;
$color-count: length($colors);

$room-depth: 1000px;
$border_radius_sm: 5px;

$grid_gap: 4px;
$grid_size: 600px;
$grid_border: 1px;